<!DOCTYPE html>
<html lang="en">

<head>
    <title>PixelGram</title>
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lobster&text=PixelGram' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    
    <!-- Bootstrap Jumbotron template -->
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">PixelGram</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-th"></span> Feed</a></li>
                        <li><a href="userHome"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="showNewPost"><span class="glyphicon glyphicon-plus"></span> New Post</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--<div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Feed</a> </li>
                    <li role="presentation"><a href="userHome">Profile</a></li>
                    <li role="presentation"><a href="showNewPost">New Post</a>
                    </li>
                    <li role="presentation" class="active"><a href="/logout">Log out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">PixelGram</h3>
        </div>-->
        
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Hey!</strong> Enjoying PixelGram? <a href="https://docs.google.com/forms/d/12FY3LU0w0jWYdcXpDTF6yfGWRAUWUjXwmC6oBOVQ2Js/viewform?c=0&w=1" class="alert-link" target="_blank">We'd love some quick feedback if you have a minute?</a>
        </div>
        
        <div class="well">
            
            <!-- Populated dynamically -->
          
        </div>
        
        <footer class="footer">
            <p>&copy; PixelGram 2016</p>
        </footer>
        
        <!-- Download image popup modal -->
        <div class="modal fade" id="downloadImageModal" tabindex="-1" role="dialog" aria-labelledby="downloadImageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="downloadImageModalLabel">Please choose your device</h4>
                    </div>
                    <div class="modal-body">
                        <!-- Single button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Device Name <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                              <!-- Populated by JS -->
                          </ul>
                        </div>
                        <h5>Your wallpaper will open in a new tab</h5>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <!-- jQuery and custom JS -->
    <script src="../static/js/jquery-1.12.2.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/feed.js"></script>
</body>
</html>