<!DOCTYPE html>
<html lang="en">

<head>
    <title>PixelGram</title>
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lobster&text=PixelGram' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    
    <!-- Bootstrap Jumbotron Template -->
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">PixelGram</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="/showSignIn"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                        <li><a href="/showSignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--<div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">PixelGram</h3>
        </div>-->
        
        <div class="jumbotron">
            <h1>PixelGram</h1>
            <br>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up now!</a>
            </p>
            <h3>PixelGram is free to join and use!</h3>
        </div>
        
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>PixelGram</h4>
                <p>PixelGram is a <b>free</b> social mobile wallpaper sharing platform where you can find wallpapers for your device shared by the community!</p>
            </div>
            
            <div class="col-lg-6">
                <h4>Supports a wide range of devices!</h4>
                <p>PixelGram makes wallpapers available at a size that fits your device perfectly so you can always find the ideal wallpaper!</p>
            </div>
        </div>
        
        <footer class="footer">
            <p>&copy; PixelGram 2016</p>
        </footer>
        
    </div>
    
    <!-- jQuery and custom JS -->
    <script src="../static/js/jquery-1.12.2.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</body>

</html>