<!DOCTYPE html>
<html lang="en">

<head>
    <title>PixelGram</title>
    
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    
    <!-- Bootstrap Jumbotron template -->
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Log out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">PixelGram</h3>
        </div>
        
        <div class="jumbotron">
            <h1>User Feed Here... One Day</h1>
        </div>
        
        <div class="footer">
            <p>&copy; PixelGram 2016</p>
        </div>
    </div>
</body>
</html>